* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f3f3f3;
    color: rgb(24, 24, 24);
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
